body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.calculator-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 600px) {
    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
        row-gap: 20px;
    }
    .form-row {
        flex-direction: column;
        gap: 5px;
    }
}

label {
    margin-bottom: 5px;
}

input[type="number"], select {
    padding: 8px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f9f9f9;
}

input[type="range"] {
    width: 100%;
    margin-top: 5px;
}

.divider {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.leasing-details {
    margin-top: 20px;
}

.details-columns {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.details-column {
    text-align: left;
}

@media (min-width: 600px) {
    .details-columns {
        flex-direction: row;
        justify-content: space-between;
        position: relative;
    }

    .details-column {
        width: 45%;
    }

    .details-columns::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 46%;
        width: 1px;
        background: #ccc;
    }
}

p {
    margin: 5px 0;
}

@media (max-width: 599px) {
    form {
        display: flex;
        flex-direction: column;
    }
    .form-row {
        order: 1;
    }
    .form-row:nth-child(2) {
        order: 2;
    }
    .form-row:nth-child(4) {
        order: 3;
    }
}
